/* Estilização da página de checkout */
.Checkout {
    background-image: url('../_assets/img/bg2.png');
    background-size: cover;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 5%;
}

.Checkout>aside {
    background-color: var(--Cinza100);
}


/* Aside */
/* Capa */
.ConfirmaFilme {
    display: flex;
    background-color: #00264D;
    gap: 1rem;
    width: 270px;
    padding: 5%;
}

.ConfirmaFilme>img {
    width: 112px;
    height: 200px;
    border-radius: .188rem;

}

.ConfirmaFilme>div>div {
    display: flex;
    gap: 1rem;
}

.ConfirmaFilme>div>h1 {
    font-size: 1.5rem;
}

.ConfirmaFilme>div>div div {
    background-color: var(--CTAsource);
    border-radius: 2.61px;
    padding: 4.17px 10.42px 4.17px 10.42px;
    color: black;

}

.ConfirmaFilme>div>div div p {
    font-size: 1rem;
    font-weight: bold;
}

/* Assentos escolhidos */
.AssentosEscolhidos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 5%;
    box-shadow: 4px 0px 4px 0px #00000080;
}

.AssentosEscolhidos>h2 {
    font-family: var(--TextoF);
    font-size: 1rem;
    text-align: center;
    color: black;
}

.AssentosEscolhidos>button {
    background-color: var(--CTAsource);
    border: none;
    border-radius: .5rem;
    padding: 8px 12px;
    font-size: 1rem;
    font-weight: 600;
    font-family: var(--TextoF);
}


.Escolhidos {
    background-color: #CCCCCC;
    border-radius: .25rem;
    width: 240px;
    height: 352px;
}


/* Estilização da seção de escolher assento */
/* Tela */
.Tela {
    background: linear-gradient(180deg, #CC8000 0%, rgba(204, 128, 0, 0) 100%);
    padding-bottom: 5%;
}

.Tela>p {
    background-color: var(--CTAsource);
    color: black;
    text-align: center;
    font-family: var(--TextoF);
    font-weight: 600;

}

/* Seção principal */
.Seat {

    background-color: #141414;
    width: 70%;
}

.Seat>hr {
    width: 90%;
    margin: auto
}

.Fileiras {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Fileiras>span {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .1rem;
}

.Cadeiras {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;

}

.Cadeira {
    width: 1.25rem;
    height: 1.25rem;
    border: 3px solid var(--Principal800);
    border-radius: 6px 6px 0px 0px;
    cursor: pointer;
}

/* Legenda */
.Legenda {
    padding: 3rem;
}

.LegendaContainer {
    display: flex;
    gap: 2rem;
}

.LegendaContainer div {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.CadeiraLivre {
    width: 1.25rem;
    height: 1.25rem;
    border: 3px solid var(--Principal800);
    border-radius: 6px 6px 0px 0px;
}

.CadeiraSelecionada {
    width: 1.25rem;
    height: 1.25rem;
    border: 3px solid var(--CTAsource);
    border-radius: 6px 6px 0px 0px;
    cursor: pointer;
    background-color: var(--CTAsource);
}

.CadeiraComprada {
    width: 1.25rem;
    height: 1.25rem;
    border: 3px solid var(--Sombra900);
    border-radius: 6px 6px 0px 0px;
    cursor: pointer;
    background-color: var(--Sombra900);
}

/* Modal de confirmação */
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Modal {
    background-color: #CC8000;
    padding: 3rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 30%;
    border-radius: 1rem;
}

.Modal>div {
    display: flex;
    gap: 2rem;
    padding: 1rem;
}

.Modal>div>button:first-child {
    background-color: #BB180F;
    padding: 2rem;
    border-radius: .5rem;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.Modal>div>button:last-child {
    background-color: #00CC59;
    padding: 2rem;
    border-radius: .5rem;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;

}

.Reservado {
    background-color: #00CC54;
    width: 70%;
    padding: 3rem;
    border-radius: .5rem;
}

.Reservado>button {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    background-color: #03b349;
    color: #141414;
    position: relative;
    bottom: 16.75rem;
    left: 44rem;
    cursor: pointer;
}