/* Estilização da página de Fale Conosco */
main {
    background-image: url('../_assets/img/fundocine.png');
    display: flex;
    justify-content: center;
    padding: 5%;
}

/* Título e subtítulo do formulário */
h1 {
    font-family: var(--Titulo);
}

h2 {
    font-family: var(--Subtitulo);
}

form {
    background-color: #004A9B;
    width: 45%;
    padding: 2rem;
    border-radius: .688rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: none;
}

input {
    background-color: var(--Principal100);
    width: 100%;
    color: rgba(0, 0, 0, 0.5);
    border-radius: .688rem;
    padding: .5rem;
    border: none;
    font-family: var(--TextoC);
    font-size: 1.25rem;
}

textarea {
    background-color: var(--Principal100);
    color: rgba(0, 0, 0, 0.5);
    resize: none;
    min-width: 100%;
    border-radius: .688rem;
    padding: .5rem;
    border: none;
    font-family: var(--TextoC);
    font-size: 1.25rem;
    min-height: 17.688rem;
}

button {

    width: 9.125rem;
}

.modalbtn {
    background-color: var(--Principal400);
    border-radius: .625rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
}

.modal {
    background-color: #009a95;
    width: 80%;
    padding: 5%;
    border-radius: .25rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal>button {
    padding: .5rem;
    border-radius: 50%;
    width: 2rem;
    background-color: #005A57;
    color: #004442;
    border: none;
    cursor: pointer;
    position: relative;
    left: 50rem;
    bottom: 15rem;
}