/* Estilização da página de filmes */
.ListaFilmes>h1 {
    font-family: var(--Titulo);
    padding: 5% 10%;
    text-align: center;
}

.ListaFilmes {
    background-image: url('../_assets/img/bg2.png');
    background-size: cover;
}

.CardFilmeContainer {
    max-width: 100vw;
    padding: 0% 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.ContainerDeFilmes {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 5%;
}

.FilmesNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3rem 0rem;
    gap: .5rem;

}

.FilmesNav div {
    background-color: var(--Sombrasource);
    padding: .75rem;
    border-radius: .425rem;
    place-items: center;
    cursor: pointer;
}

.FilmesNav div:first-child,
.FilmesNav div:last-child {
    background-color: var(--Sombra2source);

}

.FilmesNav div:first-child {
    border-radius: 1.7rem .425rem .425rem 1.7rem;
}

.FilmesNav div:last-child {
    border-radius: .425rem 1.7rem 1.7rem .425rem;
}