/* Estilização da Homepage do site */
section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 1rem;
}

.Homediv {
    max-width: 100vw;
}

.intro {
    background: url("https://s3-alpha-sig.figma.com/img/7f33/871c/17faeb3c00806460d19b92cf1211be76?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=NVxrRnuXm0VLCGK1d9D9JmDAEl2s5ZEOZqfTnRH8C~RQxrHHpt89ySZzWzumFTz52TEMPRDFMyzXJPhxDiT7ezF99MM4KjcaqbYCcRUa8VwTDjt7xp~6BAljgnnU0eS3P8kVjNLNahrZhbGSu9gkFZ~LdEOlWxS082hrofw2sY1GAT~1aAGIFWmfj5HiWs9Om3FjQy-fLn7SdGN-D4QdJFfrujh2nN7hi28Ki4~9hY~ZRl9GgszsHOMOx6GWidIxQnGqhuhBG07OttCGlg-w0NS~iMKzYXnHKFrQ3kD9wmJb3PBBSBh5Q5XDrJf44iU0hZkCmLqtjhP1MYzdYCFyUw__");
    background-size: cover;
    background-position: center;
    padding: 3%;
    padding-bottom: 10%;
}


.homeMain {
    background-image: url('../_assets/img/bg2.png');
    padding: 0;
}

section>div>a {
    text-align: right;
    color: #FFF;
    text-decoration: underline;
}

section>div>a:hover {
    color: white;
}

section>div {
    text-align: right;
}

section>span {
    scale: .75;
    margin-left: -15%;
}

.MovieCard {
    padding: .5rem;
}

.MovieCard>button {
    background-color: var(--CTAsource);
    padding: .5rem;
    border: none;
    border-radius: .5rem;
    text-transform: uppercase;
    width: 100%;
    font-family: var(--TextoF);
    font-weight: 600;
    font-size: 1.125rem;
}

.movieList {
    display: flex;
    flex-flow: row nowrap;
}

.tickets {
    display: flex;
    animation: slideAnimation 3s infinite;
}
