/* Estilização da página de login */
.Login {
    padding: 10%;
    background-image: url('../_assets/img/fundocine.png');
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.LoginDescription {
    max-width: 60vw;
    padding: 5%;
}

.LoginDescription>p {
    font-size: 1.2rem;
    font-weight: bold;
}

.LoginDescription>span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.LoginDescription>span>h1 {
    margin-left: -7rem;
    font-family: var(--Titulo);
    font-weight: 800;
    font-size: 6rem;

}

.LoginDescription>span>img {
    width: 12rem;
}

/* Formulário de Login */
.LoginForm {
    width: 40vw;
    background-color: var(--Principal800);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--Principal800);
    border-radius: .625rem;
}

.LoginForm>form {
    max-width: 100%;
    padding: 0rem 4rem 3rem 4rem;
    gap: 1rem;


}

.LoginForm>h1 {
    font-family: var(--Titulo);
    font-weight: 800;
    font-size: 3rem;
    padding: 1rem;

}

.LoginForm>form>h2 {
    font-family: var(--Subtitulo);
    font-weight: 500;
    font-size: 1.5rem;
    text-align: left;

}

.LoginForm>form>hr {
    width: 100%;

}

.LoginForm>form>div>a {
    font-weight: 700;
    color: var(--Cinza100);
    text-decoration: underline;
    text-align: left;
}

.LoginForm>form>div {
    width: 100%;
    text-align: left;
}


/* Botões */
.LoginButton {
    background-color: #6D98FB;
    box-shadow: 0px 5px 6px 0px #00000040;
    font-family: var(--TextoF);
    font-weight: 600;
    border: none;
    width: 100%;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.SingInButton {
    background-color: var(--Confirmsource);
    box-shadow: 0px 5px 6px 0px #00000040;
    width: 100%;
    padding: .5rem 1rem;
    font-family: var(--TextoF);
    font-weight: 600;
    font-size: 1.5rem;
    border: none;

}