/* Estilização da página de registre-se */


/* Título e subtítulo da seção de texto */
h1 {
    font-family: var(--Titulo);
    font-size: 3rem;
    font-weight: 700;
}


p {
    font-family: var(--Subtitulo);
    font-weight: 500;
    font-size: 1.5rem;
}

/* Seção principal */
main {
    display: flex;
    flex-direction: column;
    padding: 10%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    padding: 5rem;
    gap: 2rem;

}

/* Campo de inputs */
fieldset {
    width: 100%;
}

/* Botão */
.btn {
    background-color: #6D98FB;
    text-transform: uppercase;
}

/* Tirar setas do campo de input número */
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}