/* Estilização da página de sessões */
.Ofilme {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #072545;
    padding-top: 2rem;
    gap: 2rem;

}

.Ofilme>img {
    margin: 1rem 1rem 1rem 2rem;
    border-radius: .5rem;

}

.Ofilme>div {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Ofilme p {
    font-family: var(--TextoC);
    width: 70%;
    font-size: 1.25rem;
}

.Ofilme>div>span {
    max-width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Ofilme>div>span>div {
    background-color: #FBC115;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .4rem;
}

.Ofilme>div>span>div {
    text-align: center;
}

/* Filtros */
.FiltrosSessao {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 4rem;
}

.FiltrosSessao select {
    padding: .5rem 3rem;
    font-family: var(--Subtitulo);
    font-size: 1rem;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: var(--Complementar800);
    border-radius: .688rem;
    border-left: .4rem solid var(--Principalsource);
    border-bottom: none;
    border-right: none;
    border-top: none;
}

/* Main -> Sessões disponíveis */

.SessoesFilme {
    background-image: url('../_assets/img/bg2.png');
    background-size: cover;
}