/* Estilização do componente de Card de um filme */
/* Container principal */
.CardFilme {
    background: linear-gradient(179.96deg, #00264D 64.31%, #001225 99.97%);
    padding: 1rem;
    border-radius: .5rem;
    max-width: 21rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

/* Capa do filme */
.CardFilme>img {
    border-radius: .25rem;
}

/* Botão */
.SeeBtn {
    background-color: var(--CTAsource);
    border: none;
    padding: .5rem;
    font-weight: 600;
    font-family: var(--TextoF);
    cursor: pointer;
    border-radius: .25rem;
}

/* Título e Classificação indicativa */
.NameAge {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Classificação indicativa */
.NameAge>div {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: .25rem;
    background-color: #FBC115;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Idade da classificação */
.NameAge>div>p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: .75rem;
}

/* Informações do filme */
.InfoFilme p {
    font-family: var(--TextoC);
    font-weight: 400;
    font-size: 1.25rem;
    text-wrap: wrap;
}

.InfoFilme>p:last-child {
    font-size: 1rem;
}