/* Estilização do filtro da página de escolher sessão  */
.Filtrosec{
    display: flex;
    gap: 1.25rem;
}

.Filtrosec div {
    border: 3px solid var(--Principalsource);
    border-radius: 23px;
    padding: .5rem 1.25rem;
    cursor: pointer;
    font-family: var(--TextoF);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--Principalsource);
}