/* Estilização do componente de Filtro da página de filmes */
/* Container principal */
.filter {
    background-color: var(--Principal800);
    width: 100vw;
    padding: 5% 20%;
}

/* Filtro de busca */
.SearchFilter {
    display: flex;
    justify-content: center;
}

.SearchFilter>input {
    background-color: var(--Cinza50);
    padding-left: 1.5rem;
    border-radius: 1.5rem;
}

.SearchFilter>button {
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: #00264D;
    border-radius: 50%;
    margin-left: -2.5rem;
    cursor: pointer;
}

/* Container de seleção */
.SelectionFilter {
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    gap: 5.75rem;
}

.SelectionFilter select {
    background-color: var(--Complementar800);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    padding: .75rem 3rem .75rem 1.5rem;
    border-left: .5rem solid var(--Principalsource);
    border-top: none;
    border-right: none;
    border-bottom: none;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 11px;
}