/* Estilização do rodapé */
footer {
    background-color: var(--Sombrasource);
    width: 100vw;
}

/* Copyright */
footer>span>p {
    background-color: var(--Sombra2900);
    color: var(--Cinza100);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;

}

/* Footer principal */
footer>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 0rem;
}

/* Seção de contato */
.contato>span {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
}

/* Endereço */
.enderecos,
.contato {
    text-align: left;
}

.contato {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Ingresso */
footer>div>img {
    max-width: 15rem;
}

.info {
    width: 16.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}