/* Entilização do cabeçalho */
header {
    background-color: var(--Principalsource);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

/* Logo */
.Logo {
    display: flex;
    align-items: center;
}

.LogoCinema {
    font-family: var(--Titulo);
    font-size: 2.8rem;
    margin-left: -4rem;
    color: white;
}

header>div>img {
    margin-top: -1.5rem;
}

/* Navegação */
nav {
    min-width: 11.375rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav img {
    cursor: pointer;
}