/* Estilização do componente de horários disponíveis para o filme */
.hours {
    background-color: #1E1E1E;
    width: 57.3rem;
    height: 11.75rem;
    padding: 1.5rem 1.5rem 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 1.75rem;
    border-radius: .5rem;
}

.hours>span {
    background-color: var(--CTA400);
    padding: 0rem 1.25rem;
    font-family: var(--TextoF);
    font-weight: 600;
    color: #141414;
    font-size: 1.5rem;
    border: none;
    border-radius: .25rem;
}

/* Filtro de sessões */
.horarios>div:first-child div {

    border-radius: 23px;
    padding: .5rem 1.25rem;
    cursor: pointer;
    font-family: var(--TextoF);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--Principalsource);
}

.horarios>div:first-child {
    display: flex;
    gap: 1.25rem;


}

.horarios {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

/* Selecione a hora */
.SelectHour {
    display: flex;
    justify-content: flex-start;
    gap: 1.25rem;
}

.SelectHour div {
    border: 3px solid var(--Principalsource);
    border-radius: 5px;
    padding: .5rem 1.25rem .5rem 1.25rem;
    cursor: pointer;
    font-family: var(--TextoF);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--Principalsource);
}