/* Estilização do ticket slider */
.base {
    /* background-image: url('../_assets/img/baseticket.png'); */
    background-color: #D82F1E;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    padding: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.base>div {
    /* width: 68.125rem; */
    background-color: var(--CTA300);
    padding: 3rem;
    display: flex;
    border-radius: .25rem;
}

.base>div>div {
    padding: .5rem 2rem;
}

img {
    max-width: 18.75rem;
}

.nometicket,
.price,
.description {
    color: #000;
}

h1 {
    font-family: var(--Titulo);
}

.price {
    font-family: var(--Subtitulo);
    font-weight: bold;
    font-size: 1.5rem;

}

.description {
    font-family: var(--TextoC);
    font-size: 1.25rem;
}

/* Botões */
.arrow button {
    padding: 0rem;
    background: none;
}

.arrow {
    display: flex;
    justify-content: space-between;
}