/* Variáveis e cores globais */
:root {
    --Principalsource: #0066CC;
    --Principal900: #002877;
    --Principal800: #004A9b;
    --Principal500: #4A84EC;
    --Principal400: #6D98FB;
    --Principal100: #D2DBFF;

    /* Cores complementares */
    --Complementarsource: #0BB0E3;
    --Complementar900: #00405E;
    --Complementar800: #00557B;
    --Complementar500: #0092C3;
    --Complementar400: #2BA7D4;
    --Complementar100: #BFE2F5;

    /* Complementares secundárias */
    --Complementar2source: #0BD9D3;
    --Complementar2900: #004442;
    --Complementar2800: #005A57;
    --Complementar2500: #009A95;
    --Complementar2400: #00AEA9;
    --Complementar2100: #B6E6E3;

    /* Sombras */
    --Sombrasource: #00264D;
    --Sombra900: #2B3955;
    --Sombra800: #394B70;
    --Sombra700: #4A5E89;

    /* Sombras secundárias */
    --Sombra2source: #004C99;
    --Sombra2900: #1A386A;
    --Sombra2800: #224A8B;
    --Sombra2700: #305DA8;

    /* Call to Action (CTA) */
    --CTAsource: #CC8000;
    --CTA500: #BF7600;
    --CTA400: #D48C29;
    --CTA300: #E6A352;

    /* Cancel */
    --Cancelsource: #CC2014;
    --Cancel700: #BB180F;
    --Cancel600: #D82F1E;

    /* Confirm */
    --Confirmsource: #00CC54;
    --Confirm600: #008912;
    --Confirm400: #03B349;

    /* Cor do texto */
    --Textosource: #001122;
    --Texto50: #F2F4F7;

    /* Outras cores globais */
    --CinzaPreto: #000000;
    --Cinza900: #393939;
    --Cinza800: #4B4B4B;
    --Cinza700: #5E5E5E;
    --Cinza600: #727272;
    --Cinza500: #868686;
    --Cinza400: #9B9B9B;
    --Cinza300: #B0B0B0;
    --Cinza200: #C6C6C6;
    --Cinza100: #DDDDDD;
    --Cinza50: #F3F3F3;
    --CinzaBranco: #FFFFFF;

    /* Fontes da página */
    /* Títulos */
    --Titulo: 'Nunito Sans', sans-serif;
    --pesoTitulo: bold;
    --tamanhoTitulo: 48px;
    --espacamentoTitulo: 4%;
    /* Subtítulos */
    --Subtitulo: 'Roboto', sans-serif;
    --pesoSubtitulo: medium;
    --tamanhoSubtitulo: 24px;
    --espacamentoSubtitulo: 4%;
    /* Texto corrido*/
    --TextoC: 'Roboto', sans-serif;
    --pesoTextoC: regular;
    --tamanhoTextoC: 20px;
    --espacamentoTextoC: 5%;
    /* Texto Funcional */
    --TextoF: 'Poppins', sans-serif;
    --pesoTitulo: semibold;
    --tamanhoTitulo: 24px;
    --espacamentoTitulo: 5%;
}

/* Configurações Globais */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}